<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
    </configSections>
	<connectionStrings>
  <add name="MyConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=tp_p44;Integrated Security=SSPI;TrustServerCertificate=True" />
  <add name="P44_TP1_MC_JA.My.MySettings.ConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=tp_p44;Integrated Security=SSPI;TrustServerCertificate=True"
   providerName="" />
 </connectionStrings>
</configuration>
